# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
env/
venv/
# Environment variables
.env

# VSCode
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc

# Logs
*.log

# macOS / Windows system files
.DS_Store
Thumbs.db